.container{
    display: flex;
    align-items: center;
    justify-content: space-between;
    width: 50px;
    height: 30px;
    border: 2.5px solid #53c28b70;
    border-radius: 30px;
    padding: 4px;
    position: relative;
    cursor: pointer;
}

.icons{
    font-size: 16px;
}

.ball{
    width: 20px;
    height: 20px;
    background-color: #53c28b;
    border-radius: 100%;
    position: absolute;
}